@typeparam T

<div class="d-flex flex-column">
    <MudText Typo="Typo.body2">@Label</MudText>
    <MudInput Placeholder="@Watermark"
              Margin="Margin.Dense"
              Variant="Variant.Outlined"
              Disabled="@Disabled"
              Typo="Typo.body2"
              @bind-Value="Value" />
    <MudText Typo="Typo.body2">@HelpText</MudText>
</div>