@typeparam T

<div class="d-flex flex-column">
    <MudText Typo="Typo.body2">@Label</MudText>
    <MudTextField Placeholder="@Placeholder"
                  @bind-Value="Value"
                  Typo="Typo.body2" />
</div>