@inherits LayoutComponentBase

@inject IInteropService InteropService

<style>
    .body-container {
        height: calc(100vh - (var(--mud-appbar-height) - var(--mud-appbar-height) / 4));
    }
</style>

<MudThemeProvider IsDarkMode="@IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <Header @bind-IsDarkMode="IsDarkMode" />
    <MudMainContent>
        <div class="d-flex flex-row">
            <Sidebar />
            <MudContainer Gutters="false" Class="py-2 body-container">
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>

