@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <Header @bind-IsDarkMode="IsDarkMode" />
    <MudMainContent>
        <div class="d-flex flex-row">
            <Sidebar />
            <MudContainer Class="py-2">
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>

