@inherits PageBase

@page "/elections-canada"

<Form Title="Identification and Other Information" SubTitle="Elections Canada">
    <BooleanInput T="bool" Label="Do you have Canadian citizenship?" />
    <BooleanInput T="bool" Label="Share your information with Elections Canada?" HelpText="As a Canadian citizen, do you authorize the CRA to give your name, address, date of birth, and citizenship to Elections Canada to update the National Register of Electors or, if you are 14 to 17 years of age, the Register of Future Electors?" />
    <MudText Typo="Typo.body2">Your authorization is valid until you file your next tax return. Your information will only be used for purposes permitted under the Canada Elections Act, which include sharing lists of electors produced from the National Register of Electors with provincial and territorial electoral agencies, members of Parliament, registered and eligible political parties, and candidates at election time.</MudText>
    <MudText Typo="Typo.body2">Your information in the Register of Future Electors will be included in the National Register of Electors once you turn 18 and your eligibility to vote is confirmed. Information from the Register of Future Electors can be shared only with provincial and territorial electoral agencies that are allowed to collect future elector information. In addition, Elections Canada can use information in the Register of Future Electors to provide youth with educational information about the electoral process.</MudText>
</Form>