@inherits PageBase

@page "/exempt-income"

<Form Title="Identification and Other Information" SubTitle="Indian Act - Exempt income">
    <BooleanInput T="bool" Label="Do you have income that is exempt under the Indian Act?" />
</Form>