@inherits PageBase

@page "/foreign-property"

<Form Title="Identification and Other Information" SubTitle="Foreign property">
    <BooleanInput T="bool" Label="Did you own or hold specified foreign property where the total cost amount of all such property, at any time in 2024, was more than CAN$100,000?" />
</Form>