@inherits PageBase

@page "/identification"

<Form Title="Identification and Other Information" SubTitle="Identification">
    <FormRow>
        <TextInput T="string" Label="First name" />
        <TextInput T="string" Label="Middle name" />
        <TextInput T="string" Label="Last name" />
    </FormRow>
    <TextInput T="string" Label="Mailing address" Watermark="apartment number, street" />
    <FormRow>
        <TextInput T="string" Label="PO Box" />
        <TextInput T="string" Label="Rural Route" />
    </FormRow>
    <FormRow>
        <TextInput T="string" Label="City" />
        <TextInput T="string" Label="Province / territory" />
        <TextInput T="string" Label="Postal code" />
    </FormRow>
    <BooleanInput T="bool" Label="Register for email notifications?" HelpText="By providing an email address, you are registering for email notifications and will no longer receive paper mail from the CRA. You agree to the Terms of use found at https://canada.ca/cra-email-notifications-terms." />
    <FormRow>
        <TextInput T="string" Label="Email address" />
        <TextInput T="string" Label="Confirm email address" />
    </FormRow>
    <FormRow>
        <TextInput T="string" Label="Social insurance number (SIN)" />
        <DateInput Label="Date of birth" />
    </FormRow>
    <FormRow>
        <BooleanInput T="bool" Label="Is this return is for a deceased person?" />
        <DateInput Label="Date of death" />
    </FormRow>
    <FormRow>
        <TextInput T="string" Label="Marital status" />
        <TextInput T="string" Label="Language of correspondence" />
    </FormRow>
</Form>